<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Salons</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Salon List</h1>
<a th:href="@{/}">Home</a>
<a th:href="@{/salons/new}">Add New Salon</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Working Hours</th>
        <th>Actions</th>
    </tr>
    <tr th:each="salon : ${salons}">
        <td th:text="${salon.id}"></td>
        <td th:text="${salon.name}"></td>
        <td th:text="${salon.address}"></td>
        <td th:text="${salon.workingHours}"></td>
        <td>
            <a th:href="@{'/salons/delete/' + ${salon.id}}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
